.card{
    margin: 30px;
    width: 28%;
    /* box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; */
}

img{
    height: 100px;
    width: 100px;
}

.card-title{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.card-body{
    color: white;
}