
.project{
    padding: 120px;
}

.project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* align-items: center; */
    /* align-content: center; */
    
}

@media screen and (max-width:1040px) {
    .project{
        padding: 20px;
        padding-top: 120px;
    }
    .project-content{
        display: block;
    }
}